@model Repertoir.Models.ReplaceTag

@{
    ViewBag.Title = "Remplacer un tag";
}

<h2 class="crud">
    @Html.ActionCrud(new { replace = "Remplacer" })
</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>@ViewBag.Title</legend>

        @Html.HiddenFor(model => model.Tag_ID)

        <div class="display-label five columns">
            @Html.LabelFor(model => model.Caption)
        </div>
        <div class="display-field eleven columns">
            @Html.DisplayFor(model => model.Caption)
        </div>

        <div class="editor-label five columns">
            @Html.LabelFor(model => model.Other_ID)
        </div>
        <div class="editor-field eleven columns">
            @Html.DropDownListFor(model => model.Other_ID, Model.Tags, string.Empty)
            @Html.ValidationMessageFor(model => model.Other_ID)
        </div>

        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionLink("Annuler", "Index", null, new { @class = "cancel" })
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}