@model Repertoir.Models.ViewPerson

<div class="list_contact @Html.ContactCss(Model.IsCompany, Model.Civility) clearfix">
    <div class="offset-by-two four columns alpha">
        @Html.LabelFor(model => model.Phone2)
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone2)
        </div>
    </div>
    <div class="four columns">
        @Html.LabelFor(model => model.Fax)
        <div class="display-field">
            @Html.DisplayFor(model => model.Fax)
        </div>
    </div>
    <div class="six columns omega">
        @Html.LabelFor(model => model.Email)
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Url)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Url)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Title)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Title)
    @if (Model.Company_ID.HasValue)
    {
        <text>//</text>
        @Html.ActionLink(Model.CompanyName, "Details", "Companies", new { id = Model.Company_ID, slug = Model.CompanySlug }, null)
    }
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.AddressLine1)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.AddressLine1)
    @if (!string.IsNullOrEmpty(Model.AddressLine2))
    {
        <text><br></text>
        @Html.DisplayFor(model => model.AddressLine2)
    }
    <br>
    @Html.DisplayFor(model => model.PostalCode)
    @Html.DisplayFor(model => model.Municipality)
    <br>
    @Html.DisplayFor(model => model.Country)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Notes)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Notes)
</div>

