@model Repertoir.Models.ViewPerson

@{
    ViewBag.Title = "Créer une personne";
}

<h2 class="crud">
    @Html.ActionLink("Contacts", "Index", "Contacts")
    /
    Créer
</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>Nouvelle personne</legend>

        @Html.Partial("_Editor", Model)

        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionCancel()
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}