@model Repertoir.Models.ViewPerson

@{
    ViewBag.Title = "Supprimer une personne";
}

<h2 class="crud">
    @Html.ActionCrud(Model.ID)
</h2>

<fieldset class="sixteen columns">
    <legend>Supprimer «&nbsp;@Model.FirstName @Model.LastName&nbsp;» ?</legend>

    @Html.Partial("_Display", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Ok pour supprimer !" />
            @Html.ActionCancel(Model.ID)
        </p>
    }
</fieldset>
