@model Repertoir.Models.Contact

@{
    ViewBag.Title = "Supprimer une personne";
}

<h2 class="crud">
    @Html.ActionLink("Contacts", "Index", "Contacts")
    / @Html.ActionLink("Créer", "Create")
    / @Html.ActionLink("Afficher", "Details", new { id = Model.ID })
    / @Html.ActionLink("Modifier", "Edit", new { id = Model.ID })
    / Supprimer
</h2>

<fieldset class="sixteen columns">
    <legend>Supprimer «&nbsp;@Model.FirstName @Model.LastName&nbsp;» ?</legend>

    @Html.Partial("_Display", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Ok pour supprimer !" />
            @Html.ActionLink("Annuler", "Index", "Contacts")
        </p>
    }
</fieldset>
