@model Repertoir.Models.ViewPerson

@{
    ViewBag.Title = "Afficher une personne";
}

<h2 class="crud">
    @Html.ActionCrud(Model.ID)
</h2>

<fieldset class="readonly sixteen columns">
    <legend>@Model.FirstName @Model.LastName</legend>
    @Html.Partial("_Editor", Model)
</fieldset>


@section JavaScript
{
    @Html.Partial("_FormScripts")
}