@model Repertoir.Models.ViewPerson

@{
    ViewBag.Title = @Model.DisplayName;
}

<h2 class="crud">
    @Html.ActionCrud()
</h2>

<fieldset class="navigation sixteen columns">
    <legend>
        <span class="ten columns alpha">@Model.DisplayName</span>
        <span class="six columns omega">@Model.Phone1</span>
    </legend>
    @Html.Partial("_Display", Model)
    <a class="prev" href="@Url.Action("Previous", new { id = Model.Contact_ID, slug = Model.Slug })"></a>
    <a class="next" href="@Url.Action("Next", new { id = Model.Contact_ID, slug = Model.Slug })"></a>
</fieldset>

<h2 class="crud">Localisation</h2>

<div class="gmaps sixteen columns">
    <div id="gmaps"></div>
</div>

@section JavaScript
{
    @Html.Partial("_GmapsScripts")
}