@model IEnumerable<Repertoir.Models.ContactList>

<table>
<thead>
    <tr>
        <th></th>
        <th>
            @Html.LabelFor(model => model.First().DisplayName)
        </th>
        <th>
            @Html.LabelFor(model => model.First().Phone1)
        </th>
        <th>
            @Html.LabelFor(model => model.First().Email)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Modifier", "Edit", item.ControllerName, new { id = item.Contact_ID }, new { @class = "edit" })
        </td>
        <td>
            @Html.ActionLink(item.DisplayName, "Details", item.ControllerName, new { id = item.Contact_ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Supprimer", "Delete", item.ControllerName, new { id = item.Contact_ID }, new { @class = "delete" })
        </td>
    </tr>
}
</tbody>
</table>