@model Repertoir.Models.Contact

@{
    ViewBag.Title = "Créer un contact";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>Nouveau contact</legend>

        @Html.Partial("_Editor", Model)

        <p class="offset-by-third two-thirds column alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionLink("Annuler", "Index")
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}