@model Repertoir.Models.Contact

@{
    ViewBag.Title = "Afficher un contact";
}

<h2>@ViewBag.Title</h2>

<fieldset class="sixteen columns">
    <legend>@Model.ContactName</legend>

    <div class="display-label one-third column alpha">
        @Html.LabelFor(model => model.ContactName)
    </div>
    <div class="display-field two-thirds column omega">
        @Html.DisplayFor(model => model.ContactName)
    </div>

    <div class="display-label one-third column alpha">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="display-field two-thirds column omega">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label one-third column alpha">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="display-field two-thirds column omega">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Modifier ce contact", "Edit", new { id = Model.ID })
    | @Html.ActionLink("Annuler", "Index")
</p>
