@model Repertoir.Models.Contact

@{
    ViewBag.Title = "Modifier un contact";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>@Model.FirstName @Model.LastName</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.Partial("_Editor", Model)
 
        <p class="offset-by-third two-thirds column alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionLink("Annuler", "Index")
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}