@model IEnumerable<Repertoir.Models.Contact>

@{
    ViewBag.Title = "Tous les contacts";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Créer", "Create")
</p>
<table>
<thead>
    <tr>
        <th>
            @Html.LabelFor(model => model.First().ContactName)
        </th>
        <th>
            @Html.LabelFor(model => model.First().Phone)
        </th>
        <th>
            @Html.LabelFor(model => model.First().Email)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Afficher", "Details", new { id=item.ID }) |
            @Html.ActionLink("Modifier", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</tbody>
</table>
