@model Repertoir.Models.ViewCompany

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.CompanyName)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.CompanyName)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.Phone1)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.Phone1)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.Phone2)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.Phone2)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.Fax)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.Fax)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.Email)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.Email)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.Url)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.Url)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.AddressLine1)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.AddressLine1)
    <br>
    @Html.DisplayFor(model => model.AddressLine2)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.PostalCode)
    /
    @Html.LabelFor(model => model.Municipality)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.PostalCode)
    @Html.DisplayFor(model => model.Municipality)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.Country)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.Country)
</div>

<div class="display-label five columns alpha">
    @Html.LabelFor(model => model.Notes)
</div>
<div class="display-field eleven columns omega">
    @Html.DisplayFor(model => model.Notes)
</div>