@model Repertoir.Models.ViewCompany

@{
    ViewBag.Title = "Supprimer " + @Model.DisplayName;
}

<h2 class="crud">
    @Html.ActionCrud()
</h2>

<fieldset class="sixteen columns">
    <legend>
        <span class="ten columns alpha">@Model.DisplayName</span>
        <span class="six columns omega">@Model.Phone1</span>
    </legend>

    @Html.Partial("_Display", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Ok pour supprimer !" />
            @Html.ActionCancel()
        </p>
    }
</fieldset>
