@model Repertoir.Models.Contact

@{
    ViewBag.Title = "Afficher une société";
}

<h2>@ViewBag.Title</h2>

<fieldset class="sixteen columns">
    <legend>@Model.FirstName @Model.LastName</legend>
    @Html.Partial("_Display", Model)
</fieldset>
<p>
    @Html.ActionLink("Modifier ce contact", "Edit", new { id = Model.ID })
    | @Html.ActionLink("Annuler", "Index", "Contacts")
</p>
