@model Repertoir.Models.ViewCompany

@{
    ViewBag.Title = @Model.DisplayName;
}

<h2 class="crud">
    @Html.ActionCrud()
</h2>

<fieldset class="navigation sixteen columns">
    <legend>
        <span class="ten columns alpha">@Model.DisplayName</span>
        <span class="six columns omega">@Model.Phone1</span>
    </legend>
    @Html.Partial("_Display", Model)
    <a class="prev" href="@Url.Action("Previous", new { id = Model.Contact_ID, slug = Model.Slug })"></a>
    <a class="next" href="@Url.Action("Next", new { id = Model.Contact_ID, slug = Model.Slug })"></a>
</fieldset>

<h2 class="crud">Personnes / @Html.ActionLink("Créer", "Create", "People", new { ParentID = Model.Contact_ID }, null)</h2>

@Html.Partial(@"../Contacts/_List", Model.People)

<h2 class="crud">Localisation</h2>

<div class="gmaps sixteen columns">
    <div id="gmaps"></div>
</div>

@section JavaScript
{
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script>
    if (window.google && window.google.maps) {
        document.write(unescape("%3Cscript src='@Url.Content("~/Scripts/gmaps.js")'%3E%3C/script%3E"));
    }

    $(document).ready(function () {
        if (window.google && window.google.maps) {
            var map = new GMaps({
                div: '#gmaps',
                lat: -12.043333,
                lng: -77.028333
            });
            var regex_br = /<br\s*[\/]?>/gi;
            var adr = $("#gmaps_address").html().replace(regex_br, " ");
            GMaps.geocode({
                address: adr,
                callback: function (results, status) {
                    if (status == 'OK') {
                        var latlng = results[0].geometry.location;
                        map.setCenter(latlng.lat(), latlng.lng());
                        map.addMarker({
                            lat: latlng.lat(),
                            lng: latlng.lng()
                        });
                    }
                }
            });
        }
    });

</script>
}