@model Repertoir.Models.ViewCompany

@{
    ViewBag.Title = "Afficher une société";
}

<h2 class="crud">
    @Html.ActionCrud(Model.Contact_ID, Model.Slug)
</h2>

<fieldset class="sixteen columns">
    <legend>@Model.DisplayName</legend>
    @Html.Partial("_Display", Model)
</fieldset>

<h2 class="crud">Personnes / @Html.ActionLink("Créer", "Create", "People", new { ParentID = Model.Contact_ID }, null)</h2>

@Html.Partial(@"../Contacts/_List", Model.People)