@model Repertoir.Models.ViewCompany

@{
    ViewBag.Title = "Modifier " + @Model.DisplayName;
}

<h2 class="crud">
    @Html.ActionCrud()
</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>
            <span class="ten columns alpha">@Model.DisplayName</span>
            <span class="six columns omega">@Model.Phone1</span>
        </legend>

        @Html.HiddenFor(model => model.Contact_ID)
        @Html.Partial("_Editor", Model)
 
        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionCancel()
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}