@model Repertoir.Models.ViewCompany

@{
    ViewBag.Title = "Modifier une société";
}

<h2 class="crud">
    @Html.ActionCrud(Model.ID)
</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>@Model.CompanyName</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.Partial("_Editor", Model)
 
        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionCancel(Model.ID)
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}